<%- include('../../partials/head.ejs')%>
  <%- include('../../partials/navbar.ejs')%>
    <section class="container">
      <div class="card mt-5">
        <div class="card-body">
          <h2>Edição de categorias</h2>
          <form method="post" class="mt-5" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>">
            <button type="submit" class="btn btn-dark mt-3">Atualizar</button>
          </form>
        </div>
      </div>
    </section>
    <%- include('../../partials/foot.ejs')%>