<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand ms-5 fw-bold fs-3">
    BlogPress
  </a>
  <ul class="navbar-nav ms-5">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Artigos</a>
    </li>
  </ul>
</nav>