<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand ms-5 fw-bold">
    BlogPress
  </a>
  <ul class="navbar-nav me-auto ms-5">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
  </ul>
</nav>